params {
    // Find variants using the gap_variants module. Other options: tfx, cgd, csv
    variant_source = 'tfx' 
    variant_source_file = null
    variant_transcript_filter = null
    outdir = "results"
    uta_schema = "uta_20241220"    
    fasta = null
    cgd_export_df = null
    ncbi_refseq_gff_db = null
    ncbi_refseq_gff_accession_index_df = null
    preferred_transcripts = null    
    
    generate_variant_validator_batch = true
    variant_validator_batch_results = null
    
    enable_snpeff = true
    enable_mutalyzer = true
    enable_variant_validator = true

    // I think you can get rid of mutalyzer_nomenclature_file
    mutalyzer_nomenclature_file = null    
    mutalyzer_config = null 
    
}

profiles {
    // Settings for the GitHub Codespace
    standard {
        params.fasta = "../data/Homo_sapiens_assembly19.fasta"
        params.uta_schema = "uta_20241220"
        
        env {
            ANNOVAR_HOME = "${projectDir}/../annovar"
            PYTHONPATH = "${projectDir}/../python/src"
        }
        
        docker.enabled = true
    }

    // Settings for running locally in mac dev environment
    mac {
        params.fasta = "/opt/bioinformatics/Broad/Homo_sapiens_assembly19.fasta"
        params.uta_schema = "uta_20241220"
        params.enable_snpEff = false
        params.snpeff_jar = "/opt/bioinformatics/snpEff/snpEff.jar"
        params.snpeff_oneperline_pl="/opt/bioinformatics/snpEff/scripts/_OLD/vcfEffOnePerLine.pl"
        params.snpsift_jar = "/opt/bioinformatics/snpEff/SnpSift.jar"
        params.vep = "/opt/bioinformatics/ensembl-vep/vep"
        params.vep_dir = "${projectDir}/../data/vep"
        params.vep_fasta = "${projectDir}/../data/vep/homo_sapiens/75_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz"
        params.cgd_export_df = "${projectDir}/../data/cgd/cgd_db.parquet"
        params.ncbi_refseq_gff_db = "${projectDir}/../data/gff/GCF_000001405.25_GRCh37.p13_genomic.gff.db"
        params.preferred_transcripts = "${projectDir}/../data/cgd/cgd_prod_preferred_transcripts_20260318.csv"

        env {
            ANNOVAR_HOME = "/opt/bioinformatics/annovar"
            PYTHONPATH = "${projectDir}/../python/src"
        }
        
        // Specific to Mac M-series optimization
        process {            
            cpus = 8
            memory = '12 GB'
            executor = 'local'
        }
        
        docker.enabled = true
    }
}